<h3>Listing Posts<a href='/posts/new' class="btn btn-large btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i>  New Post</a></h3>

  <ul class="main-list well">
    <% @posts.each do |post| %>
      <li class="row">
        <span class="span6"><%= post.title %></span>
        <div class="pull-right">
          <a href= "<%=post_path(post)%>" class="btn btn-mini"><i class="glyphicon glyphicon-search"></i></a>
          <a href= "<%=edit_post_path(post)%>" class="btn btn-mini"><i class="glyphicon glyphicon-pencil"></i></a>
          <a href= "<%=post_path(post)%>" class="btn btn-danger btn-mini" data-confirm = "Are you sure ?" data-method = "delete" rel = "nofollow"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
      </li>
    <% end %>

  </ul>
